@font-face {
    font-family: bold;
    src: url(../fonts/static/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: light;
    src: url(../fonts/static/Raleway-Light.ttf);
}

@font-face {
    font-family: regular;
    src: url(../fonts/static/Raleway-Regular.ttf);
}


*{
    box-sizing: border-box;
}

*::selection{
    background-color: blueviolet;
    color: white;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

h4,
a,
p,
span,
button,
input,
::placeholder,
option{
    font-size: 16px;
}


.all-content{
    overflow-x: hidden;
    padding-bottom: 60px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: regular;
    background-color: #1a1a1a;
    color: white;
}

body::-webkit-scrollbar{
    display: none;
}


#preloader{
    background: #000;
    overflow: hidden;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.preloader::-webkit-scrollbar{
    display: none;
}




.preloader-logo img{
    width: 40%;

}

.preloader-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.preloader-logo .img-ontop{
    position: absolute;
}

.wrapper{
    position: absolute;
    top: 20px;
    left: 20px;
    animation: show_toast 1s ease forwards;
    z-index: 150;
}

@keyframes show_toast {
    0%{
        transform: translateX(-100%);
    }

    40%{
        transform: translateX(10%);
    }

    80% , 100%{
        transform: translateX(20px);
    }


}

.wrapper,hide{
    animation: hide_toast 3s ease forwards;

}


@keyframes hide_toast {
    0%{
        transform: translateX(20px);
    }

    40%{
        transform: translateX(10%);
    }

    80% , 100%{
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
    }


}

.wrapper .toast{
    background: #fff;
    padding: 20px 15px 20px 20px;
    border-radius: 10px;
    border-left: 5px solid blueviolet;
    box-shadow: 1px 7px 14px -5px rgba(0 ,0 ,0 , 0.15);
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .toast.offline{
    border-color: #ccc;
}

.toast .content{
    display: flex;
    align-items: center;

}

.content .icon{
    font-size: 25px;
    color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background: blueviolet;
}

.content .detail{
    margin-left: 15px;

}

.detail span{
    font-size: 20px;
    font-weight: 500;

}

.detail p{
    color: #878787;
}

.toast .close-icon{
    color: #878787;
    font-size: 23px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background: #f2f2f2;
    transition: all 0.3s ease;
}

.close-icon:hover{
    background: #efefef;
}


.header-top-icons{
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #0c0101;
}



.home-logo{
    width: 30%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 45px;
    height: 45px;
}

.search-besideLogo input{
    background-color: #282828;
    outline: none;
    border: none;
    padding: 8px;
    color: white;
    border-radius: 12px;

}


.home-page-icons-display span{
    color: #c39746;
}

.home-page-icons-display span:hover{
    color: blueviolet;
}



.home-page-icons-display{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}


.log-in-Out{
    width: 30%;
    
}

.logging{
    display: flex;
    align-items: center;
    justify-content: flex-end;
   
}

.log-in-Out img{
    width: 40px;
    height: 35px;
    transform: translateY(2px);
    border-radius: 4px 0px 0px 4px;
}

.log-in-Out select{
    background-color: #282828;
    padding: 12px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    outline: none;
    color: white;
    padding: 8px;
    font-size: 16px;
}

.log-in-Out option{
    color: black;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}


.header-top-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}


.mobile-top-icons{
    display: none;
}

.dp img{
    width: 90px;
    height: 90px;
    border-radius: 12px;
    border: 4px solid #1a1a1a;
    transform: translateY(-30px);
}

.dp{
    display: flex;
    justify-content: center;
}

.profile-side{
    background-color: #282828;
    position: relative;
    border-radius: 18px;
}

.profile-info-abt{
    margin-top: 50px;
}


.followers-side-view{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
    align-items: center;
    transform: translateY(-80px);
}

.followers-side-view .followers{
    align-self: flex-end;
    line-height: 0;
}

.followers-side-view .following{
    align-self: flex-end;
    line-height: 0;
    text-align: center;
}

.followers-side-view .followers {
    color: #878787;
}

.followers-side-view .following {
    color: #878787;
}

.cover-picture img{
    height: 200px;
    width: 100%;
}


.name p{
    color: #878787;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2px;
    transform: translateY(-30px);
}


.bio{
    display: flex;
    justify-content: center;
}

.visit-profile h4{
    background-color: #383636;
    padding: 15px;
    width: 80%;
    border-radius: 12px;
    
}

.visit-profile{
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

.p{
    color: white;
    font-family: bold;
}

.name .p{
    color: white;
    font-family: bold;
}

a{
    text-decoration: none;
}


.skills input{
    background-color: #383636;
    color: white;
    border: none;
    outline: none;
    padding: 6px;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 20px;

    text-align: justify;
}

.skills h4{
    margin-left: 20px;
}

.skills-input{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    width: 100%;
    
}

.skills{
    padding-bottom: 50px;
}


.upload-pro img{
    width: 45px;
    height: 45px;
    border-radius: 6px;
    border: 2px solid #1a1a1a;
}


.upload-username-online{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.upload-username-online span{
    font-size: 8px;
    color: #c39746;
    margin-left: 10px;
}


.upload-username-online .hr{
    color: #c39746;
    margin-left: 10px;
}

.upload-username{
    line-height: 0px;
    margin-left: 10px;

}

.upload-user{
    display: flex;
    align-items: center;
}

.upload-profile-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}


.upload-text{
    padding: 20px;
}

.upload-on-profile-side{
    background-color: #282828;
    border-radius: 16px;
    padding-top: 20px;
}


.uploaded-image img{
    width: 100%;
    padding: 0px 20px 20px 20px;
    border-radius: 12px;
    height: auto;
}




.upload-reaction span{
    margin-left: 20px;
    cursor: pointer;
}


.message-btn input{
    border: none;
    outline: none;
    background-color: #c39746;
    color: black;
    font-family: bold;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.message-btn{
    padding-right: 20px;
}


.reaction{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #383636;
}

.image-of-me-commenting img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #1a1a1a;
}


.comment-box input{
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #1a1a1a;
    border-radius: 8px;
    margin-left: 10px;
    color: white;
}

.comment-box{
    width: 100%;
}

.comment-on-post{
    display: flex;
    align-items: center;
    padding: 20px;
}

.comment-upload-file{
    transform: translateX(-20px);
}

.comment-upload-file span{
    cursor: pointer;
}




.profile-general{
    width: 23%;
    overflow-y: scroll;
    position: fixed;
    top: 10px;
    bottom: 0px;
}

.flexing-all{
    display: flex;
    justify-content: space-between;
}

.profile-general::-webkit-scrollbar{
    display: none;
}

.story-img img{
    width: 120px;
    height: 150px;
    border: 2px solid #c39746;
    border-radius: 12px;
    margin-left: 20px;
}

.story-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}

.story-img p{
    color: #878787;
    margin-left: 20px;
}


.story-mode{
    display: flex;
    position: sticky;
    width: 100%;
    overflow-x: scroll;
    left: 20px;
    right: 0;
}

.story-mode::-webkit-scrollbar{
    display: none;
}

.bg{
    background-color: red;
    height: 400vh;
    width: 22%;
    position: fixed;    
    right: 0;
    overflow-y: scroll;
    top: 10px;
    bottom: 0px;
}

.bg::-webkit-scrollbar{
    display: none;
}

.story-main-timeline{
    width: 50%;
    position: sticky;
    overflow-y: scroll;
    top: 0px;
    bottom: 0px;
    left: 25%;
    transform: translateY(80px);
}

.story-main-timeline::-webkit-scrollbar{
    display: none;
}

.upload-on-profile-side-timeline{
    margin-bottom: 20px;
}

.mobile-version{
    margin-bottom: 90px;
}

.profile-uploaded-photos-videos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
   
}

.profile-uploaded-photos-videos .upload-on-profile-side{
    width: 30%;
    margin-left: 30px;
    margin-bottom: 50px;
    transition: all 2s ease;
}

.profile-uploaded-photos-videos .upload-on-profile-side:hover{
    transform: scale(1.05);
}

.uploaded-image img{
    width: 100%;
    height: 400px;
    object-fit: contain;
}

img{
    cursor: pointer;
}

/* MEDIA QUERY SIDE */

.mobile-version{
    display: none;
}

.story-img-upload{
    background-color: #383636;
    color: white;
    background-size: cover;
    min-width: 120px;
    height: 150px;
    border-radius: 8px;
}

.story-img-upload span{
    background-color: blueviolet;
    color: white;
    padding: 6px;
    border-radius: 8px;
}


.story-container{
    background: #383636;
    color: white;
    background-size: cover;
    background-position: center;
    max-width: 450px;
    height: 80vh;
    margin: auto;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    margin-top: 50px;
}


#prevText{
    position: absolute;
    left: 15%;
    bottom: 30%;
    /* top: 10px; */
    transform: translateX(-50px);
    width: 90%;
    font-size: 32px;
    font-family: bold;
    text-shadow: 2px 2px 20px #000;
    text-align: center;
    line-break: anywhere;
}



#textBox{
    position: absolute;
    left: 0;
    /* bottom: 0; */
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    padding: 10px;
    resize: none;
    top: 80%;
}

#textBox::-webkit-scrollbar{
    display: none;
}

.upload-icon{
    position: absolute;
    width: 60px;
    left: 7%;
    transform: translateX(-20px) translateY(5px);
    border-radius: 8px;
    cursor: pointer;
}

.plane{
    position: absolute;
    right: 0;
    background-color: white;
    padding: 12px;
    font-size: 40px;
    border-radius: 12px;
    transform: translateY(5px);
}

@media (max-width: 991px){

    .story-container{
        max-width: 100%;
    }

    .story-img-upload{
        margin-left: 20px;
    }

    .profile-uploaded-photos-videos{
        display: flex;
        flex-direction: column;
    }

    .profile-uploaded-photos-videos .upload-on-profile-side{
        width: 100%;
        height: auto;
        margin-left: 0px;
    }

    .profile-uploaded-photos-videos .upload-on-profile-side:hover{
        transform: none;
        margin-bottom: 50px;
    }

    .flexing-all{
        display: none;
        flex-direction: column;

    }

    .mobile-version{
        display: block;
    }



    .story-main-timeline{
        width: 100%;
        position: relative;
        left: 0;
    }

    .profile-general{
        width: 100%;
        position: relative;
    }

    .bg{
        width: 100%;
        position: relative;
        overflow-y: hidden;
        top: 90px;
    }

    .header-top-icons{
        display: none;
    }

    .mobile-top-icons{
        background-color: white;
        display: block;
    }

    .logo-and-input img{
        width: 50px;
        height: 50px;
    }

    .logo-and-input input{
        width: 100%;
        border: none;
        outline: none;
        background-color: #282828;
        color: white;
        padding: 6px;
        border-radius: 10px;
        margin-right: 20px;
    }

    .logo-and-input{
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        background-color: white;
        z-index: 100;
    }

    .icon-bottom-mobile img{
        width: 20px;
        height: 20px;
        border-radius: 6px;
    }

    .icon-bottom-mobile{
        background-color: white;
        position: fixed;
        width: 100%;
        bottom: 0;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        z-index: 10;
    }

    
    
}


@media (max-width: 768px){
    .wrapper .toast{
        width: 350px;
    }

    .content .icon{
        font-size: 18px;
        height: 40px;
        width: 40px;
    }

    .detail span{
        font-size: 15px;
    }

    .toast .close-icon{
        font-size: 15px;
        height: 30px;
        width: 30px;
    }

    .detail p{
        font-size: 13px;
    }
}


@media (max-width: 425px){
    .wrapper .toast{
        width: 300px;
    }

    .content .icon{
        font-size: 20px;
        height: 40px;
        width: 40px;
    }

    .detail span{
        font-size: 13px;
    }

    .detail p{
        font-size: 13px;
    }

    .toast .close-icon{
        font-size: 15px;
        height: 40px;
        width: 40px;
    }
}


@media (max-width: 320px){
    .wrapper .toast{
        width: 250px;
    }

    .content .icon{
        font-size: 15px;
        height: 35px;
        width: 40px;
    }

    .detail span{
        font-size: 12px;
    }

    .detail p{
        font-size: 12px;
    }

    .toast .close-icon{
        font-size: 15px;
        height: 35px;
        width: 40px;
    }
}

